$font-stack:    Helvetica, sans-serif;
$primary-color: orangered;


body {
  font: 100% $font-stack;
}

.board {

  width: 600px;

  display: inline-grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
  grid-gap: 3px;

  background-color: black;

  margin: 0 auto;

  .square {
    background-color: white;
    text-align: center;
  }

}

/* class for the boards to each side of main table - symbol and scoreboard  */
.board-style {
  font-size: 25px;
  display: inline-block;
  width: 200px;
  margin-left: 45px;
  margin-right: 45px;
  background-color: #f44336eb;
  vertical-align: middle;
  border: 3px solid turquoise;
  padding-left: 10px;
  padding-right: 10px;

  table {
    margin: 0 auto;
  }

}


/* set height of each cell in the tables for the boards to the left and right of the main table to make room for the size of the text / emojis put in by javascript */
#scoreboard td {
  height: 73px;
}

#show-player-symbols td {
  height: 73px;
}

.token-button {
    width: 100px;
    height: 100px;
}

.jerry-image {
  height: 85px;
}

.newman-image {
  height: 85px;
}

#player1-symbol-display, #player2-symbol-display {
  font-size: 50px;
}

.invisible {
  display: none;
}

/* styling for the symbol that follows the cursor during game play */
#cursor-symbol {
  position: absolute;
  left: 48%;
  right: 52%;
  top: 44%;
  bottom: 56%;
  font-size: 50px;
  margin: 5px;
}


#play-again {
  text-align: center;
  margin: 0 auto;

  button {
    width: 245px;
    height: 50px;
    position: absolute;
    text-align: center;
    top: 71%;
    right: 44%;
    background-color: #ffeb3b;
  }
}

/* code for play again button animation */
.cssload-loader {
	width: 244px;
	height: 49px;
	line-height: 49px;
	text-align: center;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: helvetica, arial, sans-serif;
	text-transform: uppercase;
	font-weight: 900;
	font-size:18px;
	color: #f93276;
	letter-spacing: 0.2em;
}
.cssload-loader::before, .cssload-loader::after {
	content: "";
	display: block;
	width: 15px;
	height: 15px;
	background: #f93276;
	position: absolute;
	animation: cssload-load 0.81s infinite alternate ease-in-out;
}
.cssload-loader::before {
	top: 0;
}
.cssload-loader::after {
	bottom: 0;
}

@keyframes cssload-load {
	0% {
		left: 0;
		height: 29px;
		width: 15px;
	}
	50% {
		height: 8px;
		width: 39px;
	}
	100% {
		left: 229px;
		height: 29px;
		width: 15px;
	}
}
